.colaboradores__desktop {
    padding: 1em;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.colaborador-1 {
    width: 50vw;
}

.colaborador-2 {
    width: 50vw;
}

.colaborador__titulo {
    font-weight: 700;
    padding: 1em 0;
}

.colaborador__img {
    width: 250px;
    width: 250px;
    border-radius: 150px;
}

.colaborador__texto {
    padding: 1em 3em;
}

.texto-mayara {
    padding: 1.95em 2.5em;
}

.colaboradores__mobile {
    display: none;
}

@media screen and (max-width: 1024px) {

    .colaboradores__mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .colaboradores__mobile-caixa {
        display: flex;  
    }

    .colaboradores__desktop {
        display: none;
    }

    .colaborador__titulo__mobile {
        text-align: center;
        font-weight: 700;
        padding: .5em 0;
    }

    .colaborador__img__mobile {
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }

    .colaborador-1__mobile,
    .colaborador-2__mobile {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em 0;
    }

    .colaborador__texto__mobile {
        text-align: center;
        padding: .5em 2em;
        padding-bottom: 2em;
    }

}
