.mostruario__container-mobile {
    display: none;
}

.mostruario__produtos {
    background-color: var(--cor-de-fundo);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mostruario__produto-titulo {
    color: var(--branco);
    padding: 1em;
    text-align: center;
    font-weight: 700;
}

.produto {
    width: 300px;
    height: 300px;
    border: 5px solid var(--branco);
}

.mostruario__produto-descricao {
    color: var(--branco);
    text-align: center;
    font-size: .7em;
}

.mostruario__produto-preco {
    text-align: center;
    color: var(--verde);
    font-weight: 700;
}

.mostruario__produto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.principal {
    font-size: 2em;
}

.mostruario__produto-botao {
    background-color: var(--verde);
    padding: .5em;
    color: var(--branco);
    font-weight: 700;
    font-size: 1.5em;
    width: 200px;
    cursor: pointer;
    border: none;
    transition: all .2s;
}

.mostruario__produto-botao:hover {
    transform: scale(1.05);
}

.mostruario__produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.mostruario__mostra-mais {
    display: none;
}

.mostruario__botao {
    margin-top: 1.5em;
    color: var(--branco);
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .1s;
}

.mostruario__botao:hover {
    transform: scale(1.05);
}

.frete {
    background-color: var(--azul-ultra);
}

.mostruario__mobile {
    display: none;
}

@media screen and (max-width: 1024px) {

    .swiper__titulo {
        font-weight: 700;
        color: var(--laranja-escuro);
        text-align: center;
        padding-top: 1em;
    }

    .mostruario__desktop {
        display: none;
    }

    .mostruario__produto {
        padding: 0 1em;
    }

    .mostruario__mobile {
        display: block;
        background-color: var(--cor-de-fundo);
        padding-bottom: 3em;
    }

    .mostruario__produto-descricao {
        font-weight: 400;
        color: var(--branco);
        text-align: center;
        font-size: 1em;
    }

    .swiper-pagination {
        position: initial;
    }

}
