.servicos {
    display: flex;
    flex-direction: column;
}

.servicos__container {
    display: flex;
}

.servicos__imagem {
    width: 550px;
    height: 575px;
}

.servicos__textos {
    display: flex;
    flex-direction: column;
}

.servicos__titulo {
    text-align: center;
    font-weight: 700;
    padding: 1em;
}

.servicos__texto {
    text-align: center;
    padding: 0 3em;
}

.container_1 {
    background-color: var(--cinza);
}

.container_2 {
    display: flex;
    justify-content: space-between;
    background-color: var(--marrom);
}

.servicos__subfotos {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

.subfotos {
    margin: 1em ;
    box-shadow: 2px 2px 5px 2px var(--preto);
    width: 250px;
    height: 250px;
    transition: .5s;
}

.subfotos:hover {
    opacity: .7;
}

.servicos__container-mobile {
    display: none;
}

@media screen and (max-width: 1024px) {

    .servicos__container-mobile {
        display: block;
    }

    .servicos__container {
        display: none;
    }

    .subfotos-mobile {
        width: 150px;
        height: 160px;
        box-shadow: 2px 2px 5px 2px var(--preto);
    }

    .servicos__texto {
        padding: .3em;
    }

    .container_1-mobile {
        background-color: var(--cinza);
        padding-bottom: 2em;
    }

    .container_2-mobile {
        background-color: var(--marrom);
        padding-bottom: 2em;
    }

}

